/**
 * 将数字转化为相应的单位
 *
 * 100000以下不转换，100000以上转为以“万”为单位，超过1亿的转为以“亿”为单位
 */
function formatNumber(number) {
  var WAN = 10000;
  var TEN_WAN = WAN * 10;
  var YI = 100000000;
  var resultNumber = '';
  // 如果数字小于100000 直接返回
  if (number < TEN_WAN) {
    resultNumber = '' + number;
  }
  // 如果数字 100000 < number < 100000000  返回 以“万”为单位
  if (number > TEN_WAN && number < YI) {
    var ratioWan = number / WAN;
    // 是否超过100万
    if (ratioWan >= 100) {
      resultNumber = Math.floor(ratioWan) + '万';
    } else {
      resultNumber = (number / WAN).toFixed(1) + '万';
    }
  }
  // 如果 number > 100000000  返回 以“亿”为单位
  if (number > YI) {
    var ratioYi = number / YI;
    // 是否超过100亿
    if (ratioYi >= 100) {
      resultNumber = Math.floor(ratioYi) + '亿';
    } else {
      resultNumber = ratioYi.toFixed(1) + '亿';
    }
  }
  return resultNumber;
}

/**
 * 返回绝对值函数
 *
 * @param {*} number
 */
function abs(number) {
  return Math.abs(number);
}

// 小于10的数字补0 如：6 => 06
function paddingTwo(number) {
  return number < 10 ? '0' + number : '' + number;
}

/**
 * 格式化时间戳为 yy.mm.dd 格式的时间
 *
 * @param {*} date
 */
function dateFormat(date) {
  var timestampStr = '' + date;
  var LEN = 13; // 时间戳是一个13位的数字
  // 如果时间戳参数的位数是一个小于13的数字，则需要补0
  if (timestampStr.length < 13) {
    var length = LEN - timestampStr.length;
    for (var i = 0; i < length; i++) {
      timestampStr += '0';
    }
  }
  var timestamp = +timestampStr;  // 隐式类型转换 将数字字符串类型转成数字类型
  var time = getDate(timestamp);
  var year = time.getFullYear();
  var month = time.getMonth() + 1;
  var day = time.getDate();

  return year + '.' + paddingTwo(month) + '.' + paddingTwo(day);
}

module.exports = {
  formatNumber: formatNumber,
  abs: abs,
  dateFormat: dateFormat,
};
